{{define "pageFooter"}}    
<div class="footer">
    <p>
    El Buen Fin © Todos los derechos reservados, México 2011
    Toda la información aquí publicada relativa a las características
    de los productos y servicios que participan en El Buen Fin © es 
    responsabilidad exclusiva de las tiendas que ofrecen los servicios 
    y/o la venta de los productos. 
    <br />
    Del mismo modo, los precios, los porcentajes de descuento, 
    las promociones y todas las ofertas financieras y/o económicas 
    aquí publicadas son responsabilidad de las tiendas que lo ofrecen.
    </p>

    <!-- Le javascript
    ================================================== -->
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
    <script src="library/js/libs/jquery-1.10.2.min.js"></script>
    <script src="library/js/libs/bootstrap-transition.js"></script>
    <script src="library/js/libs/bootstrap-alert.js"></script>
    <script src="library/js/libs/bootstrap-modal.js"></script>
    <script src="library/js/libs/bootstrap-dropdown.js"></script>
    <script src="library/js/libs/bootstrap-scrollspy.js"></script>
    <script src="library/js/libs/bootstrap-tab.js"></script>
    <script src="library/js/libs/bootstrap-tooltip.js"></script>
    <script src="library/js/libs/bootstrap-popover.js"></script>
    <script src="library/js/libs/bootstrap-button.js"></script>
    <script src="library/js/libs/bootstrap-collapse.js"></script>
    <script src="library/js/libs/bootstrap-carousel.js"></script>
    <script src="library/js/libs/bootstrap-typeahead.js"></script>

</div>
{{end}}
