<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Mail Activation</title>
    </head>
    <body>
        <p>¡Hola  {{.Nombre}}!</p>
        <p>Tu usuario es: {{.Email}}</p>
        <p>Haz click aquí para verificar y terminar tu registro: <a href="https://www.elbuenfin.org/r/wsr/confirm?m={{.Md5}}&amp;c={{.Llave}}">ACTIVAR MI REGISTRO</a>
        <p>Es importante que actives antes de 15 días ya que la activación expira. Si expira tu código o no es válido puedes realizar tu registro nuevamente. </p>
        <div>
        *Este correo se envía de manera automática por la aplicación de registro de El Buen Fin http://www.elbuenfin.org/registro cuando una persona intenta registrar su correo electrónico, si considera que Ud. recibió por error este mensaje puede hacer caso omiso del mismo.</div>
        </div>
    </body>
</html>
