<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>El Buen Fin // Empresas</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<link href="../library/css/libs/bootstrap.css" rel="stylesheet">
	<link href="../library/css/style.css" rel="stylesheet">
	<style>
	body {
		padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	}
	</style>
	<link href="../library/css/libs/responsive.css" rel="stylesheet">
	<link rel="stylesheet" href="library/css/font-awesome/css/font-awesome.min.css">

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="../library/js/libs/html5shiv.js"></script>
	<![endif]-->

	<!--[if IE 7]>
		<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome-ie7.min.css">
	<![endif]-->

	<!-- Fav and touch icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../library/images/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../library/images/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../library/images/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="../library/images/ico/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="../library/images/ico/favicon.png">
</head>

<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="#">
					<img src="../library/images/logo_header.png">
					Administración
				</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="dropdown active">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Empresa
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="empresa-micrositio.html">Añadir Nueva</a></li>
								<li><a href="empresas.html">Lista Empresas</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Sucursales
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="sucursal-detalle.html">Añadir Nueva</a></li>
								<li><a href="sucursales.html">Lista Sucursales</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Ofertas
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="oferta-detalle.html">Añadir Nueva</a></li>
								<li><a href="ofertas.html">Lista Ofertas</a></li>
							</ul>
						</li>
						<li>
							<a href="#">
								El Buen Fin en linea
							</a>
						</li>
					</ul>
					<ul class="nav pull-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-user"></i> Cuenta
							<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="usuario.html">Editar</a></li>
							</ul>
						</li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div id="container" class="row-fluid">
			<div id="empresas-detalle" class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<div class="block">
							<h3><i class="icon-building"></i> Detalle de empresa</h3>
							<div class="well well-small">
								<div class="preloader"></div>
								<form id="empresa-form" class="form-horizontal">
									<div class="row-fluid">
										<div class="span6">
											<div class="control-group">
												<div class="controls"><input id="idemp-empresas" name="IdEmp" type="hidden"></div>
											</div>
											<div class="control-group">
												<label for="RFC" class="control-label">R.F.C. *</label>
												<div class="controls"><input name="RFC" class="validate[required,custom[onlyRFC]]" type="text"></div>
											</div>
											<div class="control-group">
												<label for="Nombre" class="control-label">Nombre comercial *</label>
												<div class="controls">
													<input type="text"  class="validate[required]" name="Nombre">
												</div>
											</div>
											<div class="control-group">
												<label for="RazonSoc" class="control-label">Razón Social *</label>
												<div class="controls">
													<input type="text"  class="validate[required]" name="RazonSoc">
												</div>
											</div>
											<div class="control-group">
												<label for="DirEntEmp" class="control-label">Entidad Federativa *</label>
												<div class="controls">
													<select id="DirEntEmp" name="DirEnt">
														<option value="01">Aguascalientes</option>
														<option value="02">Baja California</option>
														<option value="03">Baja California Sur</option>
														<option value="04">Campeche</option>
														<option value="05">Coahuila de Zaragoza</option>
														<option value="06">Colima</option>
														<option value="07">Chiapas</option>
														<option value="08">Chihuahua</option>
														<option value="09">Distrito Federal</option>
														<option value="10">Durango</option>
														<option value="11">Guanajuato</option>
														<option value="12">Guerrero</option>
														<option value="13">Hidalgo</option>
														<option value="14">Jalisco</option>
														<option value="15">México</option>
														<option value="16">Michoacán de Ocampo</option>
														<option value="17">Morelos</option>
														<option value="18">Nayarit</option>
														<option value="19">Nuevo León</option>
														<option value="20">Oaxaca</option>
														<option value="21">Puebla</option>
														<option value="22">Querétaro Arteaga</option>
														<option value="23">Quintana Roo</option>
														<option value="24">San Luis Potosí</option>
														<option value="25">Sinaloa</option>
														<option value="26">Sonora</option>
														<option value="27">Tabasco</option>
														<option value="28">Tamaulipas</option>
														<option value="29">Tlaxcala</option>
														<option value="30">Veracruz de Ignacio de la Llave</option>
														<option value="31">Yucatán</option>
														<option value="32">Zacatecas</option>
													</select>
												</div>
											</div>
											<div class="control-group">
												<label for="DirMunEmp" class="control-label">Delegación o municipio *</label>
												<div class="controls">
													<div class="preloader"></div>
													<select id="DirMunEmp" name="DirMun"> </select>
													<script id="muniTemplateEmp" type="text/template">
														<% for (var i in MunicipiosArray){ %>
														<% var municipio = MunicipiosArray[i]; %>
															<option value="<%= municipio.cvemun %>"><%= municipio.municipio %></option>
														<% } %>
													</script>
												</div>
											</div>
											<div class="control-group">
												<label for="DirCalle" class="control-label">Calle y numero</label>
												<div class="controls">
													<input type="text" class="validate[required]" name="DirCalle">
												</div>
											</div>
											<div class="control-group">
												<label for="DirCol" class="control-label">Colonia y/o localidad * </label>
												<div class="controls">
													<input type="text" class="validate[required]" name="DirCol">
												</div>
											</div>
											<div class="control-group">
												<label for="DirCp" class="control-label">Código Postal * </label>
												<div class="controls">
													<input type="text" class="validate[required,minSize[5],maxSize[5],custom[onlyNumberSp]]" name="DirCp">
												</div>
											</div>
											<div class="control-group">
												<label for="NumSuc" class="control-label">Número de sucursales</label>
												<div class="controls">
													<input type="text"  class="validate[optional,minSize[1],custom[integer]]" name="NumSuc">
												</div>
											</div>											
										</div>
										<div class="span6">
											<div class="control-group">
												<label for="OrgEmp" class="control-label">Organismo empresarial</label>
												<div class="controls">
													<div class="preloader"></div>
													<select id="OrgEmpId" name="OrgEmp">
													</select>
													<script id="orgTemplate" type="text/template">
														<% for (var i in OrganismosArray){ %>
														<% var org = OrganismosArray[i]; %>
															<option value="<%= org.Siglas %>"><%= org.Nombre %></option>
														<% } %>
													</script>
												</div>
											</div>

											<div class="control-group">
												<label for="OrgEmpOtro" class="control-label">Otro (Especificar)</label>
												<div class="controls">
													<input type="text" class="validate[optional,custom[onlyLetterSp]]" name="OrgEmpOtro">
												</div>
											</div>
											<div class="control-group">
												<label for="OrgEmpReg" class="control-label">Número de registro o afiliación a tu organismo empresarial</label>
												<div class="controls">
													<input type="text" class="validate[optional]" name="OrgEmpReg">
												</div>
											</div>
											<div class="control-group">
												<label class="checkbox">
													<input type="checkbox" name="PartLinea"> ¿Desea participar en El Buen Fin en línea?
												</label>
											</div>

											<div class="control-group">
												<label for="Url" class="control-label"> Sitio de internet (con prefijo http://)</label>
												<div class="controls">
													<input type="text"  class="validate[optional,custom[url]]" name="Url">
												</div>
											</div>
											<div class="control-group">
												<label class="checkbox">
													<input type="checkbox" name="ExpComer"> ¿Tu empresa ya tiene experiencia en el comercio electrónico?
												</label>
											</div>
											<div class="control-group">
												<label for="Desc" class="control-label"> ¿Qué retos o dificultades identificas para implementar o mejorar el comercio electrónico de tu empresa?</label>
												<div class="controls">
													<textarea name="Desc" class="validate[optional]" cols="30" rows="">
													</textarea>
												</div>
											</div>
											<div class="control-group">
												<label class="checkbox">
													<input type="checkbox" class="validate[required]" name="TermCond" value="1" id="accept"/>
													Para aceptar y realizar cambios a esta empresa haga clic en el recuadro * 
												</label>
											</div>
											<div class="control-group">
												<button type="submit" id="btn-empresa" class="btn">Crear</button>
												<button type="reset" class="btn" id="cancelbtn">Limpiar Campos</button>

											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="block">
							<h3><i class="icon-globe"></i> Micrositio de empresa</h3>
							<div class="well well-small">
								<div class="row-fluid">
									<div class="span6">
										<form action="/r/wsed/post" method="post" id="enviardata" class="form-horizontal">
												<div class="control-group">
													<input type="hidden" value="a" name="s"/>
													<input type="hidden" name="IdEmp" id="IdEmp"/>
													<input type="hidden" name="BlobKey" id="BlobKey"/>
												</div>
												<h4>Redes sociales</h4>
												<div class="control-group">
													<label for="" class="control-label">Sitio de Facebook:</label>
													<div class="controls">
														<input type="text" class="validate[required, maxSize[255]]" name="Facebook" id="facebook" maxlength="255"/>
													</div>
												</div>
												<div class="control-group">
													<label for="" class="control-label"> Twitter:</label>
													<div class="controls">
														<input type="text" class="validate[required, maxSize[30]]" name="Twitter" id="twitter" maxlength="30"/>
													</div>
												</div>
												<h4>Datos adicionales</h4>
												<div class="control-group">
													<label for="" class="control-label"> Descripción de la empresa visible al público:</label>
													<div class="controls">
														 <textarea class="validate[required, maxSize[350]]" name="Desc" cols="6" rows="6" id="descripcion" maxlength="350"></textarea>
													</div>
												</div>
												<div class="control-group">

													<button class="btn btn-success" type="submit">Guardar</button>
													<button class="btn btn-danger" id="cancelbtn">Limpiar Campos</button>
												</div>
										</form>
									</div>
									<div class="span6">
										<div id="urlimg"><img src="" alt="Logo de Empresa" width="258" id="pic" /> </div>
										<form class="form-horizontal"  method="post" id="enviar" enctype="multipart/form-data">
											<div class="control-group">
												<input type="hidden" name="IdEmp" id="uploadimg_id"/>
												<div id="status"></div>

											</div>
											<h4>Subir tu logotipo</h4>
											<div class="control-group">
												<label for="" class="control-label">Selecciona archivo</label>
												<div class="controls">
													<input id="imgfile" type="text" class="" readonly="readonly" />
													<input id="infile" type="file" class="validate[required]" name="image" onchange="$('#imgfile').val($('#infile').val()); $('#enviar').submit();"/>		
													<img id="loading" src="imgs/loader.gif" style="display:none;" alt="cargador" name="loading" />
												</div>
											</div>
											<div class="control-group">
												<label for="" class="control-label">Progreso de subida</label>
												<div class="controls">
													<div class="progress progress-striped active">
														<div class="bar" style="width: 40%;"></div>
													</div>
												</div>
											</div>

											
											
											<div class="progress">
												<div class="bar"></div>
												<div class="percent"> 0% </div>
											</div>
											<div class="well well-small">
									
												<ul>
													<li>Sólo imágenes formato jpeg o png.</li>
													<li>Tamaño máximo 800x600 pixeles.</li>
													<li>Logotipo con fondo blanco.</li>
													<li>La imagen debe ser el logotipo de la empresa.</li>
													<li>No son admisibles imágenes políticas, religiosas o que atenten contra las buenas costumbres, de ser así no se publicará la empresa en el sitio.</li>
												</ul>
											</div>
										</form>	
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		<!-- </div> -->
	</div> <!-- /container -->

	<div class="footer">
		<p>
	    El Buen Fin © Todos los derechos reservados, México 2011
	    Toda la información aquí publicada relativa a las características
	    de los productos y servicios que participan en El Buen Fin © es 
	    responsabilidad exclusiva de las tiendas que ofrecen los servicios 
	    y/o la venta de los productos. 
	    <br />
	    Del mismo modo, los precios, los porcentajes de descuento, 
	    las promociones y todas las ofertas financieras y/o económicas 
	    aquí publicadas son responsabilidad de las tiendas que lo ofrecen.
	    </p>
	</div>
		<!-- Le javascript
		================================================== -->
		<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
		<script src="../library/js/libs/jquery-1.10.2.min.js"></script>
		<script src="../library/js/libs/bootstrap-transition.js"></script>
		<script src="../library/js/libs/bootstrap-alert.js"></script>
		<script src="../library/js/libs/bootstrap-modal.js"></script>
		<script src="../library/js/libs/bootstrap-dropdown.js"></script>
		<script src="../library/js/libs/bootstrap-scrollspy.js"></script>
		<script src="../library/js/libs/bootstrap-tab.js"></script>
		<script src="../library/js/libs/bootstrap-tooltip.js"></script>
		<script src="../library/js/libs/bootstrap-popover.js"></script>
		<script src="../library/js/libs/bootstrap-button.js"></script>
		<script src="../library/js/libs/bootstrap-collapse.js"></script>
		<script src="../library/js/libs/bootstrap-carousel.js"></script>
		<script src="../library/js/libs/bootstrap-typeahead.js"></script>
		<script src="../library/js/libs/jquery.formparams.js"></script>
		<script type="text/javascript" src="/library/js/libs/jquery.validationEngine-es.js" charset="utf-8"></script>
		<script type="text/javascript" src="/library/js/libs/jquery.validationEngine.js" charset="utf-8"></script>
		<script src="../library/js/scripts.js"></script>
		

</body>
</html>