/******************************************************************
Site Name: El buen fin.
Author: Alonso I. Avila

Stylesheet: Tema.
******************************************************************/
@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";
.frontpages {
	background: url("../images/pattern.jpg") repeat scroll 0% 0% rgb(247, 247, 247) !important;
	.footer {
		padding: 0;
		.footer-a {
			padding: 10px  0 0;
			color: @black;
			background: @white;
			span {
				display: block;
						width: 96px;
						height: 42px;
						float: left;
						margin: 0 10px;
						padding: 20px 0;
			}
			ul {
				list-style: none;
				li {
					float: left;
					a {
						display: block;
						width: 96px;
						height: 64px;
						background: url('../images/patrocinadores.png') no-repeat;
					}
					#patr-1 { background-position: 0 0px;}
					#patr-2 { background-position: 0 -64px;}
					#patr-3 { background-position: 0 -128px;}
					#patr-4 { background-position: 0 -192px;}
					#patr-5 { background-position: 0 -256px;}
					#patr-6 { background-position: 0 -320px;}
					#patr-7 { background-position: 0 -384px;}
					#patr-8 { background-position: 0 -448px;}
					#patr-9 { background-position: 0 -512px;}
					#patr-10 { background-position: 0 -576px;}
				}
			}
		}
		.footer-b {
			padding: 10px  0 0;
			background: @black;	
			color: @white !important;

		}
		
	}

}
#reg-container {
margin-top: 40px;
	margin-bottom: 40px;
}
#registro-intro {
	#gradient > .vertical(@grayDark, @black);
	padding: 5px 10px;
	border: 1px solid transparent;
	color: @white;
      h1 {
      	font-size: 20px;
      	text-transform: uppercase;
      	text-align: center;
      }
}
ul#iconos-footer  {
	list-style: none;
	li {
		float: left;
		a {
			display: block;
			width: 40px;
			height: 40px;
			color: @white;
			margin: 0 5px;
			font-size: 33px;
			text-align: center;
			text-decoration: none;
		}
		#f-face {
			background: #37589a;
		}
		#f-twit {
			background: #38a8e0;
		}
	}
}
.active {
	display: block !important;
}
.inactive {
	display: none;	
}

#sidebar {
	position: absolute;
	width: 215px;
	height: auto !important;
	overflow: visible !important;
    border-radius: 4px 4px 4px 4px !important;
	ul {
		margin:0;
		li {
			a {
				border: 0 none;
			    border-radius: 0 0 0 0 !important;
			    display: block;
			    font-size: 14px;
			    font-weight: normal;
			    margin: 0;
			    padding: 10px 15px;
			    position: relative;
			    text-decoration: none;
				border-bottom: 1px solid #282828 !important;
   				border-top: 1px solid #424242 !important;
    			color: #D1D0D0 !important;
    			text-shadow: 0 1px 1px #333333 !important;
				 i {
				 	color: #999999 !important; 
				 }
				 &:hover {
				 	background: -moz-linear-gradient(center bottom , #1E1F21, #232527) repeat scroll 0 0 transparent;
				    border-bottom: 1px solid #161718;
				    border-top: 1px solid #303234;
				    color: #FFFFFF !important;
				    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
				 }
			}


			ul.sub {
				margin:0 ;
				background: @grayDarker; 
				li {
					a {
						padding-left: 30px;
						color: #CCCCCC;
    					text-shadow: 0 1px 1px #000000;
					}
					a:hover {
						background: none repeat scroll 0 0 #534F4E !important;
					}
				}
				li.active {
					a, a:hover {
						background: none repeat scroll 0 0 #534F4E !important;
					    border-radius: 2px 2px 2px 2px !important;
					    color: #FFFFFF !important;
					}
				}
			}
		}
		li.active {
			background: #000 !important;
    		border-bottom: 1px solid #242628 !important;
    		border-top: 1px solid #1C1D1E !important;
			}
	}
}


#body {
	margin-top: 0px;
	margin-left: 215px;
	min-height: 800px;
	background: url("../images/pattern.jpg") repeat scroll 0% 0% rgb(247, 247, 247);
	border-bottom: 2px solid rgb(221, 221, 221);
}

.block {
	margin:5px;
	padding: 5px 10px;
	background: @white;
	border: 1px solid transparent; 
	@shadow: 0 1px 3px rgba(0,0,0,.75);
      .box-shadow(@shadow);
      .border-radius(@baseBorderRadius);
      &:hover {
		border:1px solid lighten(@blue, 40%);
      }
      h3 {
      	text-transform: uppercase;
      }
}
.block-black {
	margin:5px;
	padding: 5px 10px;
	background: @black;
	border: 1px solid transparent;
	color: @white;
      h3 {
      	text-transform: uppercase;
      }
}
.footer {
	color:@white;
	padding: 10px;
}
/******************************* Mapas responsivos ******************************************/
.embed-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; width: 100% }
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

@import "valengine.less";


