{{define "cta"}}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/elbuenfinSkin.css" rel="stylesheet" type="text/css" />
	<link href="css/Origami.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-26907178-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
	<title>El Buen Fin</title>	

	</head>
	<body class=" bgt-main">
    <div class="col-100PR  bgt-red-top first">
      <div class="col-cent">
        <div class="col-24 first  BR-R-10px">
          <div class="col-4"> <img src="imgs/logo_header.png" width="124" height="124"  alt="el buen fin" class="marg-5px last"/> </div>
        
          {{with .FormDataCta}}
          <div class="pestana">
            <p class="first marg-10px ">Hola {{.Nombre}}</p>
            <a href="/r/salir" class="button blue marg-10pix last"><span>SALIR</span></a> </div>
          {{end}} </div>
        <div class="col-24 marg-D10pix Bg-Wh marg-D10pix">
          <div class=" box1  boxback Bg-Drks  BR-R-3px marg-L10pix marg-U10pix">
      
<h2 class="alineCenter">¡Bienvenido a El Buen Fin!</h2>
          
            <div class="col-100PR first marg-U20pix"> 
            <a href="/r/cta" class="btndash">
            	<img src="imgs/administradorDash.png" width="82" height="90" alt="administrador" />
                <span class="title">Administrador</span> <span class="descipt">Modifica los datos de usuario</span> 
            </a>
            <a href="/r/le?d=a" class="btndash">
                <img src="imgs/EmpresasDash.png" width="89" height="90" alt="Empresas" />
                <span class="title">Empresas</span> <span class="descipt">Registra y administra tu(s) empresas(s)</span>
            </a>
            <a href="/r/le?d=s" class="btndash">
                <img src="imgs/sucursalesDash.png" width="89" height="90" alt="Sucursales" />
                <span class="title">Sucursales</span> 
            <span class="descipt">Localiza la ubicación de tu(s) establecimiento(s)</span>
            </a>
            <a href="/r/le?d=o" class="btndash">
              <img src="imgs/ofertasDash.png" width="82" height="83" alt="Ofertas" />
              
              <span class="title marg-U3pix">Ofertas</span>
              <span class="descipt">Registra y actualiza tus promociones para El Buen Fin</span>
		  	</a>
              <a href="/r/le?d=m" class="btndash">
                <img src="imgs/micrositiosDash.png" width="89" height="90" alt="Micrositios" />
                <span class="title">Micrositios</span> 
                <span class="descipt">Personaliza el espacio de tu(s) empresa(s) en El Buen Fin</span>
            </a>
            <a href="/r/avisos" class="btndash"> 
                <img src="imgs/avisosDash.png" width="89" height="90" alt="Avisos" />
                <span class="title">Avisos</span> 
                <span class="descipt">Lo último en El Buen Fin para ti</span>
             </a>
             <a href="/r/mg" class="btndash"> 
             <img src="imgs/descargasDash.png" width="89" height="90" alt="Descargas" />
             <span class="title">Descargas</span>
             <span class="descipt">Material de El Buen Fin para tu uso</span>
             <!--liga al buen fin en linea-->
             </a><a href="/r/bfl" class="btndash"> <img src="imgs/buenFinEnlineaDash.png" width="88" height="86" alt="Descargas" /> <span class="title last" style="width:120px;">El Buen Fin en línea</span> <span class="descipt">Consejos útiles para el comercio en línea</span> </a>  
             
            </div>
            <div class="col-20 padd-15px"> <span class="title"><strong>Contacto</strong>: Mándanos tus dudas y comentarios a</span>
              <a href="mailto:contacto@elbuenfin.org" class="" target="_blank">
                <strong>contacto@elbuenfin.org</strong>
              </a></div>
          </div>
          
          <div class="box1 alineCenter"> <img src="imgs/abmlogo1.jpg" width="80" height="73" alt="abm" /><img src="imgs/amipcilogo80.jpg" width="76" height="80" alt="amici" /> <img src="imgs/orgn_4.jpg" width="107" height="80" alt="organismo"  class=""/><img src="imgs/orgn_5.jpg" width="98" height="68" alt="consejo cordinador empresarial"  class="padd-10px"/><img src="imgs/concamin-75x80.jpg" width="75" height="80" alt="concamin" /><img src="imgs/logo-concanaco-107x76.jpg" width="96" height="62" alt="coparmex"  class="padd-10px" /> <img src="imgs/Logo-COPARMEX-95x80.jpg" width="67" height="49" alt="concanaco"  class="padd-10px"/><img src="imgs/orgn_6.jpg" alt="gobierno federal" width="98" height="73" /><img src="imgs/orgn_7.jpg" width="95" height="65" alt="iniciativa mexico"  class="padd-10px"/> </div>
          <div class=" box1">
            <p class="typeMin">El Buen Fin © Todos los derechos reservados, México 2011
              Toda la información aquí publicada relativa a las características de los productos y servicios que participan en El Buen Fin © es responsabilidad exclusiva de las tiendas que ofrecen los servicios y/o la venta de los productos. <br />
              Del mismo modo, los precios, los porcentajes de descuento, las promociones y todas las ofertas financieras y/o económicas aquí publicadas son responsabilidad de las tiendas que lo ofrecen. </p>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
{{end}}
