{{define "empresa"}}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="css/Origami.css" rel="stylesheet" type="text/css" />
	<link href="css/elbuenfinSkin.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="scripts/jquery.validationEngine-es.js" charset="utf-8"></script>
	<script type="text/javascript" src="scripts/jquery.validationEngine.js" charset="utf-8"></script>
	{{with .FormDataEmp}}
	<script type="text/javascript" src="scripts/empresas.js" charset="utf-8"></script>
	{{end}}
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-26907178-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
	<title>Administración de Empresas</title>
	</head>
	<body class="bgt-main">
		<form action="/r/{{if .FormDataEmp.IdEmp}}me{{else}}ne{{end}}" method="post" id="enviar">
			<div class="col-100PR  bgt-red-top first">
				<div class="col-cent">
					<div class="col-24 first  BR-R-10px">
						<div class="col-4">
							<img src="imgs/logo_header.png" width="124" height="124"  alt="el buen fin" class="marg-5px last"/>
						</div>
						<div class="col-14 typ-Wh marg-U80pix">
							<!--h4>El compromiso es ofrecer un 10% de descuento superior a la mayor oferta del año o simplemente la mejor oferta que tengas en el año.</h4-->
						</div>
						
							{{with .Sess}}
							<div class="pestana">
								<p class="first marg-10px">Hola {{.Name}}</p>
								<div class="last"><a href="/r/salir" class="button blue marg-10pix last"><span>SALIR</span></a></div>
							</div>
							{{end}}
					
					</div>
					<div class="col-24  Bg-Wh marg-D10pix">
						<div class="menuAdmin">
							<div class="col-5" style="min-height:600px;">
								<img src="imgs/menutitle.jpg" width="208" height="19" alt="menu" />
								<ul class="menuAdmin">
									<li><a href="/r/dash"><span><img src="imgs/inicio.png" width="17" height="19" alt="inicio" /></span> Inicio</a></li>
									<li><a href="/r/cta"><span><img src="imgs/admin.png" width="19" height="19" alt="administrador" /></span> Usuario</a></li>
									<li><a class="selected" href="/r/le?d=a"><span><img src="imgs/empresa.png" width="24" height="19" alt="empresas" /></span> Empresas</a></li>
									<li><a href="/r/le?d=s"><span><img src="imgs/sucursal.png" width="20" height="19" alt="sucursales" /></span> Sucursales</a></li>
            						<li><a href="/r/le?d=o"><span><img src="imgs/oferta.png" width="20" height="19" alt="ofertas" /></span> Ofertas</a></li>
									<li><a href="/r/le?d=m"><span><img src="imgs/micrositio.png" width="25" height="19" alt="micrositios" /></span> Micrositios</a></li>
									<li><a href="/r/avisos" class="resalt"><span><img src="imgs/Adviceicon.png" width="38" height="35" alt="avisos" /></span>Avisos</a></li>
									<li><a href="/r/mg"><span><img src="imgs/descargas.png" width="35" height="35" alt="materiales" /></span>Descargas</a></li>
									<li><a href="/r/bfl"><span><img src="imgs/buenfinEnLiena.png" width="38" height="35" alt="Buen Fin en Linea" /></span>Buen Fin en Línea</a></li>
								</ul>
								<div class="box1 marg-U15pix"><strong>Recuerda:<br />El compromiso es ofrecer un 10% de descuento superior a la mayor oferta del año o simplemente la mejor oferta que tengas en el año.</strong></div>
							</div>
							<div class="col-19 last">
								<div class="titlecond">
									<h2 class="first">Registro de empresas</h2>
									{{with .FormDataEmp}}
									<!--a href="/r/le" onclick="addCompany()" class="button blue last"><span>LISTA DE EMPRESAS</span></a-->
									{{else}}
									<a href="/r/se" onclick="addCompany()" class="button big red last"><span>AGREGAR EMPRESA</span></a>
									{{end}}
								</div>
								{{range .Empresa}}
								<div class="dataGrid">
									<div class="gridRow ellipsis">
										<a href="/r/se?IdEmp={{.IdEmp}}"><span class="icon icochevroright"></span>{{.Nombre}}</a> <a href="/r/de?IdEmp={{.IdEmp}}&d=a" class="button orange marg-10pix last customDialog" onclick="javascript:if(confirm('¿Desea continuar y dar de baja esta empresa? Las ofertas, sucursales y logo asociados se eliminarán también')){return true;}else{return false;}"><span>ELIMINAR</span></a>
									</div>
								</div>
								{{else}}
								{{if .FormDataEmp}}
								{{else}}
								<div class="dataGrid">
									<div class="warning" >No hay Empresas</div>
								</div>
								{{end}}
								{{end}}
								<div class="first"> 
									<div class="col-19" id="addCont"> 
										<div class="col-19 last marg-R15pix">
											{{if .FormDataEmp.IdEmp}}
											<h3 class="alineCenter" >{{.Nombre}}</h3>
											{{else}}
											{{if .Empresa}}
											{{else}}
											<!--h3 class="alineCenter" >Nueva Empresa</h3-->
											{{end}}
											{{end}}
										</div>
										{{with .FormDataEmp}}
										<div class="col-18 marg-L10pix">
											{{if .IdEmp}}
											<input type="hidden" name="IdEmp" value="{{.IdEmp}}"/>
											{{end}}
											<div class="col-9">
												<div class="line ">
												<label>RFC<span class="typ-Sc"> * </span></label>
													<input type="text" class="validate[required,custom[onlyRFC]] medium {{.ErrRFC}}" name="RFC" value="{{.RFC}}" onchange="activateCancel()" />
												</div>

												<div class="line ">
												<label>Nombre comercial<span class="typ-Sc"> * </span></label>
													<input type="text" class="validate[required] medium {{.ErrNombre}}" name="Nombre" value="{{.Nombre}}" onchange="activateCancel()" />
												</div>

											<div class="line ">
											<label>Razón social<span class="typ-Sc"> * </span></label>
												<input type="text" class="validate[required] medium {{.ErrRazonSoc}}" name="RazonSoc" value="{{.RazonSoc}}" onchange="activateCancel()" />
											</div>

											<div class="line ">
												<div class="col-100PR first marg-UD10px">
													<label class="marg-D10pix">Entidad federativa<span class="typ-Sc"> * </span></label>
													<select name="DirEnt" class="last" id="CveEnt">
														{{range .Entidades}}
														<option value="{{.CveEnt}}" {{if .Selected}}selected="{{.Selected}}"{{end}}>{{.Entidad}}</option>
														{{end}}
													</select>
												</div>
												<div class="col-100PR first marg-UD10px">
													<label class="marg-D10pix"> Delegación o Municipio<span class="typ-Sc"> * </span></label>   
													<!--input type="hidden" class="validate[required,custom[onlyLetterSp]] small {{.ErrDirMun}}" name="DirMun" value="{{.DirMun}}"  onchange="activateCancel()"/-->
													<input type="hidden" name="DirMunSel" value="{{.DirMun}}" id="CveMun"/>
													<div id="show_mun" align="center">
														<img src="imgs/loader.gif" style="margin-top:8px; float:left" id="loader" alt="" />
												</div>
											</div>

											<div class="col-100PR first marg-UD10px">
												<label> Calle y número<span class="typ-Sc"> * </span></label>
												<input type="text" class="validate[required] medium {{.ErrDirCalle}}" name="DirCalle" value="{{.DirCalle}}"  onchange="activateCancel()"/>
											</div>

											<div class="col-100PR first marg-UD10px">
												<label> Colonia y/o localidad<span class="typ-Sc"> * </span></label>
												<input type="text" class="validate[required] medium {{.ErrDirCol}}" name="DirCol" value="{{.DirCol}}"  onchange="activateCancel()"/>
											</div>

											<div class="col-100PR first marg-UD10px"> <label> Código Postal<span class="typ-Sc"> * </span></label>
												<input type="text" class="validate[required,minSize[5],maxSize[5],custom[onlyNumberSp]] medium {{.ErrDirCp}}" name="DirCp"  value="{{.DirCp}}"  onchange="activateCancel()"/>
											</div>
										</div>
									</div>
									<div class="col-9 last">
										<div class="line ">
											<label>Número de sucursales</label>
											<input type="text" class="validate[optional,minSize[1],custom[integer]] medium {{.ErrNumSuc}}" name="NumSuc" value="{{.NumSuc}}" onchange="activateCancel()" />
										</div>
										<div class="line ">
											<label>Organismo empresarial</label>
											<select name="OrgEmp" class="last">
												{{range .Organismos}}
												<option value="{{.Siglas}}" {{if .Selected}}selected="{{.Selected}}"{{end}}>{{.Siglas}}</option>
												{{end}}
											</select>
										</div>
										<div class="line ">
											<label>Otro (Especificar)</label>
											<input type="text" class="validate[optional,custom[onlyLetterSp]] medium {{.ErrOrgEmpOtro}}" name="OrgEmpOtro" value="{{.OrgEmpOtro}}"  onchange="activateCancel()"/>
										</div>
										<div class="line ">
											<label>Número de registro o afiliación a tu organismo empresarial</label>
											<input type="text" class="validate[optional] medium {{.ErrOrgEmpReg}}" name="OrgEmpReg" value="{{.OrgEmpReg}}"  onchange="activateCancel()"/>
										</div>
										<div class="line marg-U10pix ">
											<label class="col-7">¿Desea participar en El Buen Fin en línea?</label>
											<input class="marg-10pix" type="checkbox" name="PartLinea" value="1" id="quest1" {{if .PartLinea}}checked="{{.PartLinea}}"{{end}}  onchange="activateCancel()"/>
										</div>         
										<div class="line ">
											<label>Sitio de internet (con prefijo http://)</label>
											<div class="formErrorContent" id="urlreq" onclick="$('#urlreq').hide()">
												Obligatorio indicar sitio de internet si su empresa ya tiene experiencia en comercio electrónico
											</div>
											<input type="text" class="validate[optional,custom[url]] medium {{.ErrUrl}}" name="Url" value="{{.Url}}" id="url1" onchange="activateCancel()"/>
										</div>         
										<div class="line marg-U10pix ">
											<label class="col-7">¿Tu empresa ya tiene experiencia en el comercio electrónico?</label>
											<input class="marg-10pix" type="checkbox" name="ExpComer" value="1" id="quest2" {{if .ExpComer}}checked="{{.ExpComer}}"{{end}} onchange="activateCancel()"/>
										</div>
										<div class="line marg-U10pix ">
											<label>¿Qué retos o dificultades identificas para implementar o mejorar el comercio electrónico de tu empresa?</label>
											<textarea class="validate[optional] medium last  marg-U10pix {{.ErrDesc}}" name="Desc" onchange="activateCancel()">{{.Desc}}</textarea>
										</div>
										<div class="line marg-U10pix ">
											{{if .IdEmp}}
											<label class="col-7" for="accept">Para aceptar y realizar cambios a esta empresa haga clic en el recuadro <span class="typ-Sc">* </span></label>
											{{else}}
											<label class="col-7" for="accept">Para aceptar este nuevo registro de empresa haga clic en el recuadro <span class="typ-Sc">* </span></label>
											{{end}}
											<input type="checkbox" class="validate[required] marg-10pix last" name="accept" value="1" id="accept"/>
										</div>
									</div>
								</div>
								<div class="col-18 marg-L10pix marg-D10pix">
									<div class="col-8"> <span class="typ-Sc">* </span>Todos los campos marcados son obligatorios</div>
								</div> 

								{{if .IdEmp}}
								<input type="hidden" value="a" name="d"/>
								<button type="submit" value="1" class="big red last"><span>Modificar</span></button>
								<button type="reset" class="grey last hidden marg-U15pix" id="cancelbtn"><span>Restablecer</span></button>
								{{else}}
								<input type="hidden" value="a" name="d"/>
								<button type="submit" value="" class="big red last"><span>Aplicar</span></button>
								<button type="reset" class="grey last marg-U15pix hidden" id="cancelbtn"><span>Limpiar Campos</span></button>
								{{end}}
								{{else}}
								{{end}}
							</div>
						</div>
					</div>
				</div>
				<div class="box1 alineCenter"> <img src="imgs/abmlogo1.jpg" width="80" height="73" alt="abm" /><img src="imgs/amipcilogo80.jpg" width="76" height="80" alt="amici" /><img src="imgs/orgn_4.jpg" width="107" height="80" alt="organismo"  class="padd-10px"/><img src="imgs/orgn_5.jpg" width="98" height="68" alt="consejo cordinador empresarial"  class="padd-10px"/><img src="imgs/concamin-75x80.jpg" width="75" height="80" alt="concamin" /><img src="imgs/logo-concanaco-107x76.jpg" width="96" height="62" alt="coparmex"  class="padd-10px" /> <img src="imgs/Logo-COPARMEX-95x80.jpg" width="67" height="49" alt="concanaco"  class="padd-10px"/><img src="imgs/orgn_6.jpg" alt="gobierno federal" width="98" height="73" /><img src="imgs/orgn_7.jpg" width="95" height="65" alt="iniciativa mexico"  class="padd-10px"/> </div>
				<div class=" box1">
					<p class="typeMin">El Buen Fin © Todos los derechos reservados, México 2011
					Toda la información aquí publicada relativa a las características de los productos y servicios que participan en El Buen Fin © es responsabilidad exclusiva de las tiendas que ofrecen los servicios y/o la venta de los productos. <br />
					Del mismo modo, los precios, los porcentajes de descuento, las promociones y todas las ofertas financieras y/o económicas aquí publicadas son responsabilidad de las tiendas que lo ofrecen. </p>
				</div>
			</div>
		</form>
	</body>
</html>
{{end}}
{{define "vistamicrositio"}}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="css/Origami.css" rel="stylesheet" type="text/css" />
	<link href="css/elbuenfinSkin.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="scripts/jquery.validationEngine-es.js" charset="utf-8"></script>
	<script type="text/javascript" src="scripts/jquery.validationEngine.js" charset="utf-8"></script>
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-26907178-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
	<script type="text/javascript">
	$(document).ready(function(){ $("#enviar").validationEngine({promptPosition : "topRight", scroll: true}); });
	function activateCancel(){ $("#cancelbtn").addClass("show") }
	function deactivateCancel(){ $("#cancelbtn").removeClass("show") }
	</script>
<title>Listado de Micrositios</title>
</head>
<body class="bgt-main">
	<div class="col-100PR  bgt-red-top first">
		<div class="col-cent">
			<div class="col-24 first  BR-R-10px">
				<div class="col-24">
					<div class="col-4">
					<img src="imgs/logo_header.png" width="124" height="124"  alt="el buen fin" class="marg-5px last"/>
				</div>
				<div class="col-14 typ-Wh marg-U80pix">
					<!--h4>El compromiso es ofrecer un 10% de descuento superior a la mayor oferta del año o simplemente la mejor oferta que tengas en el año.</h4-->
				</div>
				
					{{with .Sess}}
					<div class="pestana">
  <p class="first marg-10px">Hola {{.Name}}</p>
	                <div class="last"><a href="/r/salir" class="button blue marg-10pix last"><span>SALIR</span></a></div>
          </div>
					{{end}}
				
			</div>
			<div class="col-24  Bg-Wh marg-D10pix">
				<div class="menuAdmin">
					<div class="col-5" style="min-height:600px;">
						<img src="imgs/menutitle.jpg" width="208" height="19" alt="menu" />
						<ul class="menuAdmin">
							<li><a href="/r/dash"><span><img src="imgs/inicio.png" width="17" height="19" alt="inicio" /></span> Inicio</a></li>
							<li><a href="/r/cta"><span><img src="imgs/admin.png" width="19" height="19" alt="administrador" /></span> Usuario</a></li>
							<li><a href="/r/le?d=a"><span><img src="imgs/empresa.png" width="24" height="19" alt="empresas" /></span> Empresas</a></li>
							<li><a href="/r/le?d=s"><span><img src="imgs/sucursal.png" width="20" height="19" alt="sucursales" /></span> Sucursales</a></li>
            				<li><a href="/r/le?d=o"><span><img src="imgs/oferta.png" width="20" height="19" alt="ofertas" /></span> Ofertas</a></li>
							<li><a class="selected" href="/r/le?d=m"><span><img src="imgs/micrositio.png" width="25" height="19" alt="micrositios" /></span> Micrositios</a></li>
							<li><a href="/r/avisos" class="resalt"><span><img src="imgs/Adviceicon.png" width="38" height="35" alt="avisos" /></span>Avisos</a></li>
							<li><a href="/r/mg"><span><img src="imgs/descargas.png" width="35" height="35" alt="materiales" /></span>Descargas</a></li>
							<li><a href="/r/bfl"><span><img src="imgs/buenfinEnLiena.png" width="38" height="35" alt="Buen Fin en Linea" /></span>Buen Fin en Línea</a></li>
						</ul>
						<div class="box1 marg-U15pix"><strong>Recuerda:<br />El compromiso es ofrecer un 10% de descuento superior a la mayor oferta del año o simplemente la mejor oferta que tengas en el año.</strong></div>
					</div>
					<div class="col-19 last">
						<div class="titlecond">
							 <h2 class="first">Micrositios por empresa</h2>
						</div>
						{{range .Empresa}}
						<div class="dataGrid">
							<div class="gridRow">
								<a  style="width:680px" href="/r/mi?IdEmp={{.IdEmp}}&amp;Emp={{.Nombre}}"><span class="icon icochevroright"></span>{{.Nombre}}</a>
							</div>
						</div>
						{{else}}
							{{if .FormDataEmp}}
							{{else}}
							<div class="dataGrid">
								<div class="warning" >No hay Empresas</div>
							</div>
							{{end}}
						{{end}}
					</div>
				</div>
				<div class="box1 alineCenter">
					<img src="imgs/abmlogo1.jpg" width="80" height="73" alt="abm" /><img src="imgs/orgn_4.jpg" width="107" height="80" alt="organismo"  class="padd-10px"/><img src="imgs/amipcilogo80.jpg" width="76" height="80" alt="amici" /><img src="imgs/orgn_5.jpg" width="98" height="68" alt="consejo cordinador empresarial"  class="padd-10px"/><img src="imgs/concamin-75x80.jpg" width="75" height="80" alt="concamin" /><img src="imgs/logo-concanaco-107x76.jpg" width="96" height="62" alt="coparmex"  class="padd-10px" /> <img src="imgs/Logo-COPARMEX-95x80.jpg" width="67" height="49" alt="concanaco"  class="padd-10px"/><img src="imgs/orgn_6.jpg" alt="gobierno federal" width="98" height="73" /><img src="imgs/orgn_7.jpg" width="95" height="65" alt="iniciativa mexico"  class="padd-10px"/> 
				</div>
				<div class=" box1">
					<p class="typeMin">El Buen Fin © Todos los derechos reservados, México 2011
					Toda la información aquí publicada relativa a las características de los productos y servicios que participan en El Buen Fin © es responsabilidad exclusiva de las tiendas que ofrecen los servicios y/o la venta de los productos. <br />
					Del mismo modo, los precios, los porcentajes de descuento, las promociones y todas las ofertas financieras y/o económicas aquí publicadas son responsabilidad de las tiendas que lo ofrecen. </p>
				</div>
			</div>
		</div>
	</body>
</html>
{{end}}
{{define "vistasucursal"}}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--sucusales listas-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="css/Origami.css" rel="stylesheet" type="text/css" />
	<link href="css/elbuenfinSkin.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-26907178-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
	<script type="text/javascript">
	 $(document).ready(function() {
		 $("#accordion").accordion({ 
			//disabled: true,
			collapsible: false,
			autoHeight: false,
			clearStyle: true,
		});
	 });
	function getsuc(IdEmp) {
		$.get("/r/suc", {
			IdEmp: IdEmp,
		}, function(response){
			//alert("loadsuc('show-"+IdEmp+"', '"+escape(response)+"')");
			setTimeout("loadsuc('show-"+IdEmp+"', '"+escape(response)+"')", 400);
			//$( "#accordion" ).accordion( "option", "disable", false );	
		});
	}
	function loadsuc(id, response){
		//$('#loader').hide();
		$('#'+id).html(unescape(response));
		$('#'+id).fadeIn();
	}
	</script>
	<title>Listado de Sucursales</title>
	</head>
	<body class="bgt-main">
	<div class="col-100PR  bgt-red-top first">
		<div class="col-cent">
			<div class="col-24 first">
            <!--comienza header-->
				<div class="col-24">
					<div class="col-4">
						<img src="imgs/logo_header.png" width="124" height="124"  alt="el buen fin" class="marg-5px last"/>
					</div>
					<div class="col-14 typ-Wh marg-U80pix">
						<!--h4>El compromiso es ofrecer un 10% de descuento superior a la mayor oferta del año o simplemente la mejor oferta que tengas en el año.</h4-->
					</div>
						{{with .Sess}}
						<div class="pestana">
	  <p class="first marg-10px">Hola {{.Name}}</p>
							<div class="last"><a href="/r/salir" class="button blue marg-10pix last"><span>SALIR</span></a></div>
						</div>
						{{end}}
				</div>
                <!--termina  header-->
				<div class="col-24  Bg-Wh marg-D10pix">
				<div class="menuAdmin">
                      <!--In menu-->
					<div class="col-5" style="min-height:600px;">
						<img src="gfx/menutitle.jpg" width="208" height="19" alt="menu" />
						<ul class="menuAdmin">
							<li><a href="/r/dash"><span><img src="gfx/inicio.png" width="17" height="19" alt="inicio" /></span> Inicio</a></li>
							<li><a href="/r/cta"><span><img src="gfx/admin.png" width="19" height="19" alt="administrador" /></span> Usuario</a></li>
							<li><a href="/r/le?d=a"><span><img src="gfx/empresa.png" width="24" height="19" alt="empresas" /></span> Empresas</a></li>
							<li><a class="selected" href="/r/le?d=s"><span><img src="gfx/sucursal.png" width="20" height="19" alt="sucursales" /></span> Sucursales</a></li>
            				<li><a href="/r/le?d=o"><span><img src="gfx/oferta.png" width="20" height="19" alt="ofertas" /></span> Ofertas</a></li>
							<li><a href="/r/le?d=m"><span><img src="gfx/micrositio.png" width="25" height="19" alt="micrositios" /></span> Micrositios</a></li>
							<li><a href="/r/avisos" class="resalt"><span><img src="imgs/Adviceicon.png" width="38" height="35" alt="avisos" /></span>Avisos</a></li>
							<li><a href="/r/mg"><span><img src="gfx/descargas.png" width="35" height="35" alt="materiales" /></span>Descargas</a></li>
							<li><a href="/r/bfl"><span><img src="gfx/buenfinEnLiena.png" width="38" height="35" alt="Buen Fin en Linea" /></span>Buen Fin en Línea</a></li>
						</ul>
						<div class="box1 marg-U15pix"><strong>Recuerda:<br />El compromiso es ofrecer un 10% de descuento superior a la mayor oferta del año o simplemente la mejor oferta que tengas en el año.</strong></div>
					</div>
                <!--out menu menu-->
                
					<div class="col-19 last">
							<!--Titulo --><div class="titlecond">
							 <h2 class="first">Sucursales por empresa</h2>
						</div>
                        
						<!--Empiezan Sucusales -->
					
						<div class="box1">
							<div style="z-index:999; position:absolute; z-index:999; margin-top:5px; margin-left:560px;">
								<a href="/r/sucursal?IdEmp={{.IdEmp}}&IdSuc=none" class="button orange last customDialog"><span>Agregar sucursal</span></a>
							</div>
							<div id="accordion">
								{{range .Empresa}}
								<h3><a href="#" onclick="javascript:getsuc({{.IdEmp}})">{{.Nombre}}</a></h3>
								<div>
									<!--Contenido Acordion-->
									<p id="show-{{.IdEmp}}" class="col-100PR first marg-U20pix"></p>
								</div>
								{{end}}
							</div>
						</div>
                     <!--termina box1-->
                     
                     </div></div></div></div>
                       <!--terminan col19 -> menuAdmin ->col-24 bgWh->col-24-->
					<div class="box1 alineCenter">
						<img src="imgs/abmlogo1.jpg" width="80" height="73" alt="abm" /><img src="imgs/orgn_4.jpg" width="107" height="80" alt="organismo"  class="padd-10px"/><img src="imgs/amipcilogo80.jpg" width="76" height="80" alt="amici" /><img src="imgs/orgn_5.jpg" width="98" height="68" alt="consejo cordinador empresarial"  class="padd-10px"/><img src="imgs/concamin-75x80.jpg" width="75" height="80" alt="concamin" /><img src="imgs/logo-concanaco-107x76.jpg" width="96" height="62" alt="coparmex"  class="padd-10px" /> <img src="imgs/Logo-COPARMEX-95x80.jpg" width="67" height="49" alt="concanaco"  class="padd-10px"/><img src="imgs/orgn_6.jpg" alt="gobierno federal" width="98" height="73" /><img src="imgs/orgn_7.jpg" width="95" height="65" alt="iniciativa mexico"  class="padd-10px"/> 
					</div>
					<div class=" box1">
						<p class="typeMin">El Buen Fin © Todos los derechos reservados, México 2011
						Toda la información aquí publicada relativa a las características de los productos y servicios que participan en El Buen Fin © es responsabilidad exclusiva de las tiendas que ofrecen los servicios y/o la venta de los productos. <br />
						Del mismo modo, los precios, los porcentajes de descuento, las promociones y todas las ofertas financieras y/o económicas aquí publicadas son responsabilidad de las tiendas que lo ofrecen. </p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
{{end}}
{{define "empresassucursales"}}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="css/Origami.css" rel="stylesheet" type="text/css" />
	<link href="css/elbuenfinSkin.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-26907178-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
	<title>Listado de Sucursales</title>
	</head>
	<body class="bgt-main">
		<div class="col-100PR  bgt-red-top first">
			<div class="col-cent">
				<div class="col-24 first  BR-R-10px">
					<div class="col-4">
						<img src="imgs/logo_header.png" width="124" height="124"  alt="el buen fin" class="marg-5px last"/>
					</div>
					<div class="col-14 typ-Wh marg-U80pix">
						<!--h4>El compromiso es ofrecer un 10% de descuento superior a la mayor oferta del año o simplemente la mejor oferta que tengas en el año.</h4-->
					</div>
						{{with .Sess}}
						<div class="pestana">
							<p class="first marg-10px">Hola {{.Name}}</p>
							<div class="last"><a href="/r/salir" class="button blue marg-10pix last"><span>SALIR</span></a></div>
						</div>
						{{end}}
				</div>
				<div class="col-24  Bg-Wh marg-D10pix">
					<div class="menuAdmin">
						<div class="col-5" style="min-height:600px;">
							<img src="gfx/menutitle.jpg" width="208" height="19" alt="menu" />
							<ul class="menuAdmin">
								<li><a href="/r/dash"><span><img src="gfx/inicio.png" width="17" height="19" alt="inicio" /></span> Inicio</a></li>
								<li><a href="/r/cta"><span><img src="gfx/admin.png" width="19" height="19" alt="administrador" /></span> Usuario</a></li>
								<li><a href="/r/le?d=a"><span><img src="gfx/empresa.png" width="24" height="19" alt="empresas" /></span> Empresas</a></li>
								<li><a class="selected" href="/r/le?d=s"><span><img src="gfx/sucursal.png" width="20" height="19" alt="sucursales" /></span> Sucursales</a></li>
            					<li><a href="/r/le?d=o"><span><img src="gfx/oferta.png" width="20" height="19" alt="ofertas" /></span> Ofertas</a></li>
								<li><a href="/r/le?d=m"><span><img src="gfx/micrositio.png" width="25" height="19" alt="micrositios" /></span> Micrositios</a></li>
								<li><a href="/r/avisos" class="resalt"><span><img src="imgs/Adviceicon.png" width="38" height="35" alt="avisos" /></span>Avisos</a></li>
								<li><a href="/r/mg"><span><img src="gfx/descargas.png" width="35" height="35" alt="materiales" /></span>Descargas</a></li>
								<li><a href="/r/bfl"><span><img src="gfx/buenfinEnLiena.png" width="38" height="35" alt="Buen Fin en Linea" /></span>Buen Fin en Línea</a></li>
							</ul>
							<div class="box1 marg-U15pix"><strong>Recuerda:<br />El compromiso es ofrecer un 10% de descuento superior a la mayor oferta del año o simplemente la mejor oferta que tengas en el año.</strong></div>
						</div>
						<div class="col-19 last">
							<div class="titlecond">
								<h2 class="first">Sucursales por empresa</h2>
							</div>
							{{range .Empresa}}
							<div class="dataGrid">
								<div class="gridRow">
									<a style="width:680px" href="/r/sucursales?IdEmp={{.IdEmp}}"><span class="icon icochevroright"></span>{{.Nombre}}</a>
								</div>
							</div>
							{{else}}
								{{if .FormDataSuc}}
								{{else}}
								<div class="dataGrid">
									<div class="warning" >No hay Sucursales</div>
								</div>
								{{end}}
							{{end}}
						</div>
					</div>
				<div class="box1 alineCenter">
				<img src="imgs/abmlogo1.jpg" width="80" height="73" alt="abm" /><img src="imgs/orgn_4.jpg" width="107" height="80" alt="organismo"  class="padd-10px"/><img src="imgs/amipcilogo80.jpg" width="76" height="80" alt="amici" /><img src="imgs/orgn_5.jpg" width="98" height="68" alt="consejo cordinador empresarial"  class="padd-10px"/><img src="imgs/concamin-75x80.jpg" width="75" height="80" alt="concamin" /><img src="imgs/logo-concanaco-107x76.jpg" width="96" height="62" alt="coparmex"  class="padd-10px" /> <img src="imgs/Logo-COPARMEX-95x80.jpg" width="67" height="49" alt="concanaco"  class="padd-10px"/><img src="imgs/orgn_6.jpg" alt="gobierno federal" width="98" height="73" /><img src="imgs/orgn_7.jpg" width="95" height="65" alt="iniciativa mexico"  class="padd-10px"/> 
			</div>
			<div class=" box1">
				<p class="typeMin">El Buen Fin © Todos los derechos reservados, México 2011
				Toda la información aquí publicada relativa a las características de los productos y servicios que participan en El Buen Fin © es responsabilidad exclusiva de las tiendas que ofrecen los servicios y/o la venta de los productos. <br />
				Del mismo modo, los precios, los porcentajes de descuento, las promociones y todas las ofertas financieras y/o económicas aquí publicadas son responsabilidad de las tiendas que lo ofrecen. </p>
				</div>
			</div>
		</div>
	</body>
</html>
{{end}}
{{define "vistaoferta"}}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="css/Origami.css" rel="stylesheet" type="text/css" />
	<link href="css/elbuenfinSkin.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-26907178-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
	<title>Listado de ofertas</title>
	</head>
	<body class="bgt-main">
		<div class="col-100PR  bgt-red-top first">
			<div class="col-cent">
				<div class="col-24 first  BR-R-10px">
					<div class="col-4">
						<img src="imgs/logo_header.png" width="124" height="124"  alt="el buen fin" class="marg-5px last"/>
					</div>
					<div class="col-14 typ-Wh marg-U80pix">
						<!--h4>El compromiso es ofrecer un 10% de descuento superior a la mayor oferta del año o simplemente la mejor oferta que tengas en el año.</h4-->
					</div>
						{{with .Sess}}
						<div class="pestana">
							<p class="first marg-10px">Hola {{.Name}}</p>
							<div class="last"><a href="/r/salir" class="button blue marg-10pix last"><span>SALIR</span></a></div>
						</div>
						{{end}}
				</div>
				<div class="col-24  Bg-Wh marg-D10pix">
					<div class="menuAdmin">
						<div class="col-5" style="min-height:600px;">
							<img src="gfx/menutitle.jpg" width="208" height="19" alt="menu" />
							<ul class="menuAdmin">
								<li><a href="/r/dash"><span><img src="gfx/inicio.png" width="17" height="19" alt="inicio" /></span> Inicio</a></li>
								<li><a href="/r/cta"><span><img src="gfx/admin.png" width="19" height="19" alt="administrador" /></span> Usuario</a></li>
								<li><a href="/r/le?d=a"><span><img src="gfx/empresa.png" width="24" height="19" alt="empresas" /></span> Empresas</a></li>
								<li><a href="/r/le?d=s"><span><img src="gfx/sucursal.png" width="20" height="19" alt="sucursales" /></span> Sucursales</a></li>
								<li><a href="/r/le?d=o" class="selected"><span><img src="gfx/oferta.png" width="20" height="19" alt="ofertas" /></span> Ofertas</a></li>
								<li><a href="/r/le?d=m"><span><img src="gfx/micrositio.png" width="25" height="19" alt="micrositios" /></span> Micrositios</a></li>
								<li><a href="/r/avisos" class="resalt"><span><img src="imgs/Adviceicon.png" width="38" height="35" alt="avisos" /></span>Avisos</a></li>
								<li><a href="/r/mg"><span><img src="gfx/descargas.png" width="35" height="35" alt="materiales" /></span>Descargas</a></li>
								<li><a href="/r/bfl"><span><img src="gfx/buenfinEnLiena.png" width="38" height="35" alt="Buen Fin en Linea" /></span>Buen Fin en Línea</a></li>
							</ul>
							<div class="box1 marg-U15pix"><strong>Recuerda:<br />El compromiso es ofrecer un 10% de descuento superior a la mayor oferta del año o simplemente la mejor oferta que tengas en el año.</strong></div>
						</div>
						<div class="col-19 last">
							<div class="titlecond">
								<h2 class="first">Ofertas por empresa</h2>
							</div>
							{{range .Empresa}}
							<div class="dataGrid">
								<div class="gridRow">
									<a style="width:680px" href="/r/ofs?IdEmp={{.IdEmp}}&Emp={{.Nombre}}"><span class="icon icochevroright"></span>{{.Nombre}}</a>
								</div>
							</div>
							{{else}}
							<div class="dataGrid">
								<div class="warning" >No hay ofertas</div>
							</div>
							{{end}}
						</div>
					</div>
				<div class="box1 alineCenter">
				<img src="imgs/abmlogo1.jpg" width="80" height="73" alt="abm" /><img src="imgs/orgn_4.jpg" width="107" height="80" alt="organismo"  class="padd-10px"/><img src="imgs/amipcilogo80.jpg" width="76" height="80" alt="amici" /><img src="imgs/orgn_5.jpg" width="98" height="68" alt="consejo cordinador empresarial"  class="padd-10px"/><img src="imgs/concamin-75x80.jpg" width="75" height="80" alt="concamin" /><img src="imgs/logo-concanaco-107x76.jpg" width="96" height="62" alt="coparmex"  class="padd-10px" /> <img src="imgs/Logo-COPARMEX-95x80.jpg" width="67" height="49" alt="concanaco"  class="padd-10px"/><img src="imgs/orgn_6.jpg" alt="gobierno federal" width="98" height="73" /><img src="imgs/orgn_7.jpg" width="95" height="65" alt="iniciativa mexico"  class="padd-10px"/> 
			</div>
			<div class=" box1">
				<p class="typeMin">El Buen Fin © Todos los derechos reservados, México 2011
				Toda la información aquí publicada relativa a las características de los productos y servicios que participan en El Buen Fin © es responsabilidad exclusiva de las tiendas que ofrecen los servicios y/o la venta de los productos. <br />
				Del mismo modo, los precios, los porcentajes de descuento, las promociones y todas las ofertas financieras y/o económicas aquí publicadas son responsabilidad de las tiendas que lo ofrecen. </p>
				</div>
			</div>
		</div>
	</body>
</html>
{{end}}
