<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Untitled Document</title>
    </head>

    <body>
        <p>Bienvenido a El Buen Fin {{.Nombre}}. Has completado el registro de usuario</p>
        <p>Tu usuario es {{.Email}} y tu contraseña {{.Pass}}</p>
        <p><a href="http://www.elbuenfin.org/r/registro">www.elbuenfin.org</a>
    </body>

</html>
