<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Untitled Document</title>
</head>

<p>Aviso de cancelación de cuenta con siguientes datos:</p>
<br/>
<p>Nombre: {{.Nombre}} {{.Apellidos}}</p>
<br/>
<p>Email: {{.Email}}</p>
<br/>
<p>Email alterno: {{.EmailAlt}}</p>
<br/>
<p>Fecha activación: {{.FechaHora}}</p>
<br/>
<p>Motivo: {{.CodigoCfm}}</p>
<br/>

<body>
</body>
</html>
