{{define "sucursal"}}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="css/Origami.css" rel="stylesheet" type="text/css" />
	<link href="css/elbuenfinSkin.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="scripts/jquery.validationEngine-es.js" charset="utf-8"></script>
	<script type="text/javascript" src="scripts/jquery.validationEngine.js" charset="utf-8"></script>
	<script type="text/javascript" src="scripts/sucursales.js" charset="utf-8"></script>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-26907178-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="scripts/map.js" charset="utf-8"></script>
	<title>Sucursales</title>
	</head>
	<body class="bgt-main">
		<div class="col-100PR  bgt-red-top first">
			<div class="col-cent">
				<div class="col-24 first  BR-R-10px">
					<div class="col-4">
						<img src="../imgs/logo_header.png" width="124" height="124"  alt="el buen fin" class="marg-5px last"/>
					</div>
						{{with .Sess}}
						<div class="pestana">
							<p class="first marg-10px">Hola {{.Name}}</p>
							<div class="last"><a href="/r/salir" class="button blue marg-10pix last"><span>SALIR</span></a></div>
						</div>
						{{end}}
				</div>
				<div class="col-24  Bg-Wh marg-D10pix">
					<div class="menuAdmin">
						<div class="col-5" style="min-height:600px;">
							<img src="imgs/menutitle.jpg" width="208" height="19" alt="menu" />
							<ul class="menuAdmin">
								<li><a href="/r/dash"><span><img src="imgs/inicio.png" width="17" height="19" alt="inicio" /></span> Inicio</a></li>
								<li><a href="/r/cta"><span><img src="imgs/admin.png" width="19" height="19" alt="administrador" /></span> Usuario</a></li>
								<li><a href="/r/le?d=a"><span><img src="imgs/empresa.png" width="24" height="19" alt="empresas" /></span> Empresas</a></li>
								<li><a class="selected" href="/r/le?d=s"><span><img src="imgs/sucursal.png" width="20" height="19" alt="sucursales" /></span> Sucursales</a></li>
            					<li><a href="/r/le?d=o"><span><img src="imgs/oferta.png" width="20" height="19" alt="ofertas" /></span> Ofertas</a></li>
								<li><a href="/r/le?d=m"><span><img src="imgs/micrositio.png" width="25" height="19" alt="micrositios" /></span> Micrositios</a></li>
								<li><a href="/r/avisos" class="resalt"><span><img src="imgs/Adviceicon.png" width="38" height="35" alt="avisos" /></span>Avisos</a></li>
								<li><a href="/r/mg"><span><img src="imgs/descargas.png" width="27" height="27" alt="materiales" /></span>Descargas</a></li>
								<li><a href="/r/bfl"><span><img src="imgs/buenfinEnLiena.png" width="38" height="35" alt="Buen Fin en Linea" /></span>Buen Fin en Línea</a></li>
						  	</ul>
							<div class="box1 marg-U15pix"><strong>Recuerda:<br />El compromiso es ofrecer un 10% de descuento superior a la mayor oferta del año o simplemente la mejor oferta que tengas en el año.</strong></div>
						</div>
						<div class="col-19 last">
							<div class="titlecond">
								<div class="col-14" style="overflow:hidden;height:38px;"><h3 class="first">Sucursal de {{with .Empresa}}{{.Nombre}}{{end}}</h3></div>
								<!--a href="/r/le?d=s" class="button big grey last"><span>&lt;&lt;Regresar</span></a-->
								<a href="/r/sucursales?IdEmp={{with .Empresa}}{{.IdEmp}}{{end}}" class="button big grey last"><span>&lt;&lt;Regresar</span></a>
							</div>
							<div class="box1 marg-U10pix">
								
								<form action="/r/sucmod" method="post" id="enviar">
									<input type="hidden" value="a" name="s"/>
									{{with .FormDataSuc}}<input type="hidden" name="IdSuc" value="{{.IdSuc}}"/>{{end}}
									{{with .Empresa}}<input type="hidden" name="IdEmp" value="{{.IdEmp}}"/>{{end}}
									{{with .FormDataSuc}}
									<div class="box2">
										<label class="col-4">Nombre de sucursal<span class="typ-Sc"> * </span></label>
										<div class="first">
											<input type="text" class="validate[required] small {{.ErrNombre}}" name="Nombre" value="{{.Nombre}}" onchange="activateCancel()" />	
										</div>
									</div>
									<div class="box2">
										<label class="col-4" for="cphone">Teléfono fijo con lada</label>
										<div class="first">
											<input type="text" id="cphone" name="Tel" class="validate[optional,custom[phone]] small {{.ErrTel}}" value="{{.Tel}}" onchange="activateCancel()" />
										</div>
									</div>
									<div class="box1">
										<div class="outlined pullup-10 BR-R-3px">
											<ol>
												<li>Captura la dirección de la sucursal y en el mapa se irá ubicando conforme la ingreses.</li>
												<li>Puedes mover, alejar o acercar el mapa para verificar la ubicación de la sucursal.</li>
												<li>Si el puntero no está en la ubicación puedes moverlo al lugar preciso.</li>
											</ol>
										</div>
										{{if .Ackn}}
										<div class="Addvice alineCenter marg-10pix">
											<h4>Los datos han sido guardados correctamente.</h4>
										</div>
										{{end}}
									</div>
									<div class="last col-50PR">
										<div id="map"></div>
										<div class="last marg-R15pix">
											{{if .IdSuc}}
											<button type="submit" value="1" name="modificar" class="big red last"><span>Modificar</span></button>
											<button type="reset" class="grey last hidden marg-U15pix" id="cancelbtn"><span>Restablecer</span></button>
											{{else}}
											<button type="submit" class="big red last"><span>Guardar</span></button>
											<button type="reset" class="grey last marg-U15pix hidden" id="cancelbtn"><span>Limpiar Campos</span></button>
											{{end}}
										</div>
									</div>
									<div class="col-9">
										<div class="line ">
											<label class="col-5" class="marg-D10pix">Entidad federativa<span class="typ-Sc"> * </span></label>
											<select name="DirEnt" class="medium last" id="estado" onchange="activateCancel()">
												{{range .Entidades}}
												<option value="{{.CveEnt}}" {{if .Selected}}selected="{{.Selected}}"{{end}}>{{.Entidad}}</option>
												{{end}}
											</select>
										</div>
										<div class="line ">
											<label class="col-5" class="marg-D10pix"> Delegación o Municipio<span class="typ-Sc"> * </span></label>   
											<input type="hidden" name="DirMunSel" value="{{.DirMun}}" id="municipio" onchange="activateCancel()"/>
											<div id="show_mun" align="right" class="medium">
												<img src="../imgs/loader.gif" style="margin-top:8px; float:left" id="loader" alt="" />
											</div>
										</div>
										<div class="line">
											<label class="col-5"> Calle y número<span class="typ-Sc"> * </span></label>
											<input type="text" class="validate[required] medium {{.ErrDirCalle}}" name="DirCalle" value="{{.DirCalle}}" id="calle" onchange="activateCancel()"/>
										</div>
										<div class="line">
											<label class="col-5"> Colonia y/o localidad<span class="typ-Sc"> * </span></label>
											<input type="text" class="validate[required] medium {{.ErrDirCol}}" name="DirCol" value="{{.DirCol}}" id="colonia"  onchange="activateCancel()"/>
										</div>
										<!--<div class="line">
											<label class="col-5"> Código Postal<span class="typ-Sc"> * </span></label>
											<input type="text" class="validate[required,minSize[5],maxSize[5],custom[onlyNumberSp]] medium {{.ErrDirCp}}" name="DirCp" value="{{.DirCp}}" id="cp" onchange="activateCancel()"/>
										</div>-->
										<input type="hidden" id="lat" name="Geo1" value="{{.Geo1}}" />
										<input type="hidden" id="lng" name="Geo2" value="{{.Geo2}}" />
										<!--button type="button" id="buscar" class="orange last big"><span>Buscar</span></button-->
									</div>
									<div class="col-18 marg-L10pix marg-D10pix">
										<div class="col-8"> <span class="typ-Sc">* </span>Todos los campos marcados son obligatorios</div>
									</div> 
									{{else}}
									{{end}}
								</form>
							</div>
						</div>
					</div>
					<div class="box1 alineCenter"> <img src="../imgs/abmlogo1.jpg" width="80" height="73" alt="abm" /><img src="../imgs/amipcilogo80.jpg" width="76" height="80" alt="amici" /><img src="../imgs/orgn_4.jpg" width="107" height="80" alt="organismo"  class="padd-10px"/><img src="../imgs/orgn_5.jpg" width="98" height="68" alt="consejo cordinador empresarial"  class="padd-10px"/><img src="../imgs/concamin-75x80.jpg" width="75" height="80" alt="concamin" /><img src="../imgs/logo-concanaco-107x76.jpg" width="96" height="62" alt="coparmex"  class="padd-10px" /> <img src="../imgs/Logo-COPARMEX-95x80.jpg" width="67" height="49" alt="concanaco"  class="padd-10px"/><img src="../imgs/orgn_6.jpg" alt="gobierno federal" width="98" height="73" /><img src="../imgs/orgn_7.jpg" width="95" height="65" alt="iniciativa mexico"  class="padd-10px"/> </div>
					<div class=" box1">
						<p class="typeMin">El Buen Fin © Todos los derechos reservados, México 2011
						Toda la información aquí publicada relativa a las características de los productos y servicios que participan en El Buen Fin © es responsabilidad exclusiva de las tiendas que ofrecen los servicios y/o la venta de los productos. <br />
						Del mismo modo, los precios, los porcentajes de descuento, las promociones y todas las ofertas financieras y/o económicas aquí publicadas son responsabilidad de las tiendas que lo ofrecen. </p>
					</div>
				</div>
			</div>
		</form>
	</body>
</html>
{{end}}
{{define "sucursales"}}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="css/Origami.css" rel="stylesheet" type="text/css" />
	<link href="css/elbuenfinSkin.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-26907178-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
	<title>Listado de Sucursales</title>
	</head>
	<body class="bgt-main">
		<div class="col-100PR  bgt-red-top first">
			<div class="col-cent">
				<div class="col-24 first  BR-R-10px">
					<div class="col-4">
						<img src="../imgs/logo_header.png" width="124" height="124"  alt="el buen fin" class="marg-5px last"/>
					</div>
					<div class="col-14 typ-Wh marg-U80pix">
						<!--h4>El compromiso es ofrecer un 10% de descuento superior a la mayor oferta del año o simplemente la mejor oferta que tengas en el año.</h4-->
					</div>
	
						{{with .Sess}}
						<div class="pestana">
							<p class="first marg-10px">Hola {{.Name}}</p>
							<div class="last"><a href="/r/salir" class="button blue marg-10pix last"><span>SALIR</span></a></div>
						</div>
						{{end}}
				
				</div>
				<div class="col-24  Bg-Wh marg-D10pix">
					<div class="menuAdmin">
						<div class="col-5" style="min-height:600px;">
							<img src="imgs/menutitle.jpg" width="208" height="19" alt="menu" />
							<ul class="menuAdmin">
								<li><a href="/r/dash"><span><img src="imgs/inicio.png" width="17" height="19" alt="inicio" /></span> Inicio</a></li>
								<li><a href="/r/cta"><span><img src="imgs/admin.png" width="19" height="19" alt="administrador" /></span> Usuario</a></li>
								<li><a href="/r/le?d=a"><span><img src="imgs/empresa.png" width="24" height="19" alt="empresas" /></span> Empresas</a></li>
								<li><a class="selected" href="/r/le?d=s"><span><img src="imgs/sucursal.png" width="20" height="19" alt="sucursales" /></span> Sucursales</a></li>
            					<li><a href="/r/le?d=o"><span><img src="imgs/oferta.png" width="20" height="19" alt="ofertas" /></span> Ofertas</a></li>
								<li><a href="/r/le?d=m"><span><img src="imgs/micrositio.png" width="25" height="19" alt="micrositios" /></span> Micrositios</a></li>
								<li><a href="/r/avisos" class="resalt"><span><img src="imgs/Adviceicon.png" width="38" height="35" alt="avisos" /></span>Avisos</a></li>
								<li><a href="/r/mg"><span><img src="imgs/descargas.png" width="27" height="27" alt="materiales" /></span>Descargas</a></li>
								<li><a href="/r/bfl"><span><img src="imgs/buenfinEnLiena.png" width="38" height="35" alt="Buen Fin en Linea" /></span>Buen Fin en Línea</a></li>
							</ul>
							<div class="box1 marg-U15pix"><strong>Recuerda:<br />El compromiso es ofrecer un 10% de descuento superior a la mayor oferta del año o simplemente la mejor oferta que tengas en el año.</strong></div>
						</div>
						<div class="col-19 last">
							<div class="titlecond">
								<h2 class="first">Sucursales de</h2>
								<a href="/r/sucursal?IdEmp={{with .Empresa}}{{.IdEmp}}{{end}}" class="button big red last"><span>AGREGAR SUCURSAL</span></a>
								<a href="/r/le?d=s" class="button big grey last"><span>&lt;&lt;Regresar</span></a>
							</div>
							<div class="box1"><h3 class="first">{{with .Empresa}}{{.Nombre}}{{end}}</h3></div>
							{{range .Sucursal}}
							<div class="dataGrid">
								<div class="gridRow">
									<a href="/r/sucursal?IdSuc={{.IdSuc}}&IdEmp={{.IdEmp}}"><span class="icon icochevroright"></span>{{.Nombre}}</a><a href="/r/sucdel?IdSuc={{.IdSuc}}&IdEmp={{.IdEmp}}&d=s" class="button orange marg-10pix last customDialog" onclick="javascript:if(confirm('¿Desea continuar y dar de baja esta sucursal?')){return true;}else{return false;}"><span>ELIMINAR</span></a>
								</div>
							</div>
							{{else}}
								{{if .FormDataSuc}}
								{{else}}
								<div class="dataGrid">
									<div class="warning" >No hay Sucursales</div>
								</div>
								{{end}}
							{{end}}
						</div>
					</div>
				<div class="box1 alineCenter">
				<img src="../imgs/abmlogo1.jpg" width="80" height="73" alt="abm" /><img src="../imgs/orgn_4.jpg" width="107" height="80" alt="organismo"  class="padd-10px"/><img src="../imgs/amipcilogo80.jpg" width="76" height="80" alt="amici" /><img src="../imgs/orgn_5.jpg" width="98" height="68" alt="consejo cordinador empresarial"  class="padd-10px"/><img src="../imgs/concamin-75x80.jpg" width="75" height="80" alt="concamin" /><img src="../imgs/logo-concanaco-107x76.jpg" width="96" height="62" alt="coparmex"  class="padd-10px" /> <img src="../imgs/Logo-COPARMEX-95x80.jpg" width="67" height="49" alt="concanaco"  class="padd-10px"/><img src="../imgs/orgn_6.jpg" alt="gobierno federal" width="98" height="73" /><img src="../imgs/orgn_7.jpg" width="95" height="65" alt="iniciativa mexico"  class="padd-10px"/> 
			</div>
			<div class=" box1">
				<p class="typeMin">El Buen Fin © Todos los derechos reservados, México 2011
				Toda la información aquí publicada relativa a las características de los productos y servicios que participan en El Buen Fin © es responsabilidad exclusiva de las tiendas que ofrecen los servicios y/o la venta de los productos. <br />
				Del mismo modo, los precios, los porcentajes de descuento, las promociones y todas las ofertas financieras y/o económicas aquí publicadas son responsabilidad de las tiendas que lo ofrecen. </p>
			</div>
				</div>
		</div>
	</body>
</html>
{{end}}
